@import 'styles/_variables.scss';

.main {
  position: relative;
  z-index: 1;

  margin: 12px 0;

  font-size: 18px;
  text-align: center;
  line-height: 28px;
  color: #8c93a3;

  &::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    z-index: -2;

    height: 1px;

    background: #e2e9f3;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: -1;

    height: 100%;
    width: 50px;

    background: #ffffff;

    transform: translateX(-50%);
  }
}
